
## Source custom configs
for file in $__fish_config_dir/custom.d/*.fish
  source $file
end

# custom functions autoload
if test -d $__fish_config_dir/custom_functions.d
  set -gp fish_function_path $__fish_config_dir/custom_functions.d
end

if type -q direnv
    direnv hook fish | source
end

if type -q thefuck
  thefuck --alias | source
end
