[user]
  email = github@falsebit.io
  name = unusualpseudo
  signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPrvDctrL58HynbWAi7tKUFp5fhHvC/8bnL7u7jFU02X spike@rift
[commit]
  gpgSign = true
[gpg]
  format = ssh
[push]
  autoSetupRemote = true
[url "ssh://git@github.com/"]
  pushInsteadOf = https://github.com/
[pull]
  rebase = true
[status]
  submoduleSummary = false  
[core]
  editor = nano
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
